main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 42px 21px;
}
h1,
h2 {
  margin: 0;
  letter-spacing: 2px;
}

p {
  margin: 8px 0;
  letter-spacing: 2px;
}

#vcomments {
  margin-top: 40px;
}

.back-to-top {
  visibility: hidden;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  color: var(--color-green);
  text-align: center;
  cursor: pointer;
  transition: all .5s ease-out;
  border-radius: 50%;
  font-size: 32px;
  line-height: 36px;
}
.back-to-top.show{
  visibility: visible;
}

.back-to-top:hover {
  background-color: var(--color-green);
  color: white;
}

.progress-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  z-index: 9999;
}

.progress-bar div {
  flex: 1;
}

article img {
  width: 100%;
  max-width: 800px;
}
article pre code {
  display: block;
  color: #ddd;
  overflow-x: auto;
  padding: 0.5em;
  background: #444;
  white-space: pre-wrap;
}
